body {
background: burlywood;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: #379BED;
text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
    
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 15px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
text-align: center;
}
.project img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
